.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 15px;
    border: 2px solid teal;
}

.textBlock {
    box-sizing: border-box;
    overflow: auto;
    padding-right: 16px;
    overflow-wrap: break-word
}

.buttonsBlock {
    display: flex;
    flex-direction: row;
}
